/*  your css code here. If applicable */
body{
	display:flex;
	align-items:center;
	justify-content:center;
}
.card{
	margin-top:50px;
	text-align:center;
	height:70vh;
	width:50%;
	background-color:rgb(241,241,241);
	padding:3rem;
	box-shadow:0px 2px 10px black;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

img{
	width:100%;
}

.btn{
	background-color:red;
	color:white;
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	font-size:2rem;
}